/* for  Large Devices like Small Laptops, Desktops */

@media screen and (max-width:1200px) {

    /* home_page */

    .banner_section {
        background-position: center !important;
    }

    .form form {
        width: 65%;
    }

    .counseling_content p {
        text-align: left;
    }

    /* footer */
    .footer_anchors a {
        display: flex;
        gap: 15px !important;
        padding-bottom: 5px;
    }

    .footer_anchors a {
        gap: 15px;
    }



}

/* for  Medium Devices like Tablets (e.g., iPad) */
@media screen and (max-width:992px) {


    .anchors_link {
        display: none;
    }

    .bars {
        display: block;
    }

    .all_div_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .banner_section {
        height: 90vh;
        background-position: right !important;
    }

    .river_section {
        width: 100%;
    }

    .All_service_content_holder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .counseling_img img {
        width: 100%;
        height: 590px;
        object-fit: cover;
        background-position: center;
    }



    .counseling_img_content_holder {
        display: flex;
        flex-direction: column-reverse;
        padding-inline: var(--padding-inline);
        margin-block: 80px;
    }

    .counseling_content h2 {
        font-size: 25px;
    }

    .counseling_content p {
        line-height: 1.6;
    }

    .relation_anchors_link {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .relation_anchors_content_both_holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .happy_client {
        height: auto;
        padding-block: 40px;
    }

    .happy_client_content_img_holder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .price_plan_content_button_holder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .common_heading {
        margin-top: 0;
    }

    .price_plan {
        background-color: #eee;
        padding-inline: var(--padding-inline);
        padding-block: 100px;
    }

    .form form {
        width: 80%;
    }

    .blog_main_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .all_div_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .common_heading h4 {
        font-size: 16px;
    }

    .common_heading h5 {
        font-size: 45px;
    }

    .counseling_content h2 {
        font-size: 45px;
    }
}


/*  for  Small Devices like  Mobile Landscape (e.g., iPhone 12) */

@media screen and (max-width:767px) {
    .both_awesome_icon_parent {
        display: none;
    }

    .banner_section {
        height: 500px;
        background-attachment: unset;
    }

    .river_section {
        width: 100%;
    }

    .counseling_img img {
        height: 450px;
        object-fit: cover;
        overflow: hidden;
    }

    .happy_client_content_img_holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
    }




    .price_plan_content_button_holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .All_service_content_holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 20px;
        padding-inline: unset;
        padding: 20px;
        /* text-align: center; */
        line-height: 2;
        width: 80%;
        margin: 0 auto;
    }


    .counseling_img_content_holder {
        display: flex;
        flex-direction: column-reverse;
    }

    .river_all_content_holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .counseling_content h2 {
        font-size: 30px;
    }

    .price_plan_content_button_holder button {

        width: 100%;

    }

    .form form {
        width: 100%;
    }

    .blog_main_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .all_div_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .counselling_content_holder {
        display: none;
    }

    .anchors_link a {
        color: black;
        font-size: 20px;
        margin-left: 10px;
    }

    .all_div_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-inline: unset;
        padding-inline: 20px;
    }

    .footer_section {
        padding-block: var(--padding-block);
        background-color: #1a1a1a;

        color: white;
        margin-top: 40px;
        padding-inline: var(--padding-inline);

    }

}



/* for  Extra Small Devices like  Mobile Portrait (e.g., iPhone SE)*/
@media screen and (max-width:600px) {

    .banner_section {
        height: 450px;
        background-attachment: unset;
        background-position: unset;

    }

    .both_awesome_icon_parent {
        display: none;
    }


    .All_service_content_holder {
        padding-inline: unset;
        padding-inline: 20px;
    }

    .logo_anchor_holder {
        padding-inline: unset;
        padding-inline: 20px;

    }

    .river_section {
        color: white;
        margin-top: -80px;
        width: 100%;
        padding-left: unset;
        background-color: #4e815c;
    }


    .relation_problem {
        padding-inline: unset;
        padding-inline: 20PX;
    }

    .counseling_img_content_holder {
        padding-inline: unset;

    }

    .counseling_img img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        background-position: center;
    }

    .relation_anchors_link {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .relation_anchors_content_both_holder {
        padding-inline: 20px;
    }

    .happy_client {
        padding-inline: unset;
        padding-inline: 20px;
    }

    .price_plan {
        padding-inline: unset;
        padding-inline: 20px;
    }

    .price_plan_content_button_holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .price_plan_content_button_holder div {
        /* margin-inline: 20px; */
    }

    .get_in_touch {
        padding-inline: unset;
        padding-inline: 20px;
    }

    .form form {
        width: 100%;
    }

    .blog_section {
        padding-inline: unset;
        padding-block: 40px;
        padding-inline: 20px;
    }

    .common_heading h4 {
        color: var(--secondary-color);
        font-size: 16px;
    }

    .common_heading h5 {
        font-size: 25px;
    }

    .counseling_content h2 {
        font-size: 25px;
    }

    .common_heading {
        margin-bottom: 30px;
    }

    .common_heading1 h4 {
        text-transform: uppercase;
        font-size: 13px;
        padding-top: unset;
    }

    .footer_section {
        padding-block: var(--padding-block);
        background-color: #1a1a1a;
        padding-inline: unset;
        color: white;
        margin-top: 40px;
        padding-inline: 20px;
    }
}






@media screen and (max-width: 320px) {
    .All_service_content_holder {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 20px;
        padding-inline: unset;
        /* text-align: center; */
        line-height: 2;
        padding-inline: 20px;
    }

    .counseling_content h2 {
        padding-block: 10px;
    }

    .counseling_img img {
        height: 400px;
    }

    .get_in_touch {

        padding-inline: unset;
        padding-inline: 20px;
    }

    .footer_section {
        padding-inline: unset;
        padding-inline: 20px;
    }

    .all_div_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .relation_anchors_link a {
        font-size: 16px;
    }

    .relation_anchors_content_both_holder {
        /* padding-inline: 20px; */
    }
}